*.log
*.o
*.a
*.so
*.dll
/ogm
/ogm-test
CMakeFiles/**
CMakeCache.txt*
libGMLTools.*
gml-tools
gml-tools-test
*.exe
Makefile
*.cmake
!tests/**
demo/nc
*#backups
*.js
*.wasm
*.html
*.wast
*.data
*.mem
**/*.gch
out/
.vs/
CMakeSettings.json
release/
ogm_release/
*.ini
Testing
*.ogmc
coff
ogm.res
.git
.vscode