*.log
*.o
*.a
*.so
*.dll
/ogm
/ogm-test
CMakeFiles/
CMakeCache.txt*
libGMLTools.*
gml-tools
gml-tools-test
*.exe
Makefile
*.cmake
!tests/**
demo/nc
*#backups
*.gch
**/*.gch
*.js
*.wasm
*.html
*.wast
*.data
*.mem
out/
.vs/
CMakeSettings.json
release/
ogm_release/
*.ini
Testing
*.ogmc
coff
ogm.res
.vscode
.dockerignore
artifacts*
out-*
build/
build-*/
tmp/
.sconsign.dblite
.sconf_temp